body {
    background-color: black;
}
.tile {
    margin: 0;
    display: inline-flex;
    background-color: #42b842;
}
.row {
    height: 40px;
}
.grass {
    /* background-color: #42b842; */
}
.chest {
    background-image: url('/tiles/chest.png')
}
.rock {
    background-image: url('/tiles/rock.png');
}
.rock2 {
    background-image: url('/tiles/rock2.png');
}
.tree {
    background-image: url('/tiles/tree.png');
}
.tree2 {
    background-image: url('/tiles/tree2.png');
}
.tree3 {
    background-image: url('/tiles/tree3.png');
}
.water {
    background-image: url('/tiles/water1.png');
}